/**
 * @name Roozer's Blue Theme
 * @author RoozerXC
 * @authorId 332523229514039296
 * @version 1.0
 * @description I never conquered, rarely came; tomorrow holds such better days, days when I can still feel alive
 * @website https://roozerxc.neocities.org
 */

@import url("https://raw.githubusercontent.com/RoozerXC/RoozerXC/main/DiscordThemes/RoozerBlueTheme.css");
