@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://fonts.cdnfonts.com/css/eternal-ui');

:root {
	--font: "Eternal UI";
	--settingsicons: 1;

	--accentcolor: 0,0,255;
	--accentcolor2: 0,0,255;
	--linkcolor: 0,0,255;
	--mentioncolor: 0,0,255;
	--successcolor: 0,0,255;
	--warningcolor: 0,0,255;
	--dangercolor: 0,0,255;

	--textbrightest: 255,255,255;
	--textbrighter: 224,224,224;
	--textbright: 192,192,192;
	--textdark: 160,160,160;
	--textdarker: 128,128,128;
	--textdarkest: 96,96,96;

	--backgroundaccent: 0,0,64;
	--backgroundprimary: 0,0,48;
	--backgroundsecondary: 0,0,32;
	--backgroundsecondaryalt: 0,0,24;
	--backgroundtertiary: 0,0,16;
	--backgroundfloating: 0,0,8;

	// system color scheme
	--blue-100: #0000FF !important;
	--blue-100-hsl: #0000FF !important;
	--blue-130: #0000FF !important;
	--blue-130-hsl: #0000FF !important;
	--blue-160: #0000FF !important;
	--blue-160-hsl: #0000FF !important;
	--blue-200: #0000FF !important;
	--blue-200-hsl: #0000FF !important;
	--blue-230: #0000FF !important;
	--blue-230-hsl: #0000FF !important;
	--blue-260: #0000FF !important;
	--blue-260-hsl: #0000FF !important;
	--blue-300: #0000FF !important;
	--blue-300-hsl: #0000FF !important;
	--blue-330: #0000FF !important;
	--blue-330-hsl: #0000FF !important;
	--blue-345: #0000FF !important;
	--blue-345-hsl: #0000FF !important;
	--blue-360: #0000FF !important;
	--blue-360-hsl: #0000FF !important;
	--blue-400: #0000FF !important;
	--blue-400-hsl: #0000FF !important;
	--blue-430: #0000FF !important;
	--blue-430-hsl: #0000FF !important;
	--blue-460: #0000FF !important;
	--blue-460-hsl: #0000FF !important;
	--blue-500: #0000FF !important;
	--blue-500-hsl: #0000FF !important;
	--blue-530: #0000FF !important;
	--blue-530-hsl: #0000FF !important;
	--blue-560: #0000FF !important;
	--blue-560-hsl: #0000FF !important;
	--blue-600: #0000FF !important;
	--blue-600-hsl: #0000FF !important;
	--blue-630: #0000FF !important;
	--blue-630-hsl: #0000FF !important;
	--blue-660: #0000FF !important;
	--blue-660-hsl: #0000FF !important;
	--blue-700: #0000FF !important;
	--blue-700-hsl: #0000FF !important;
	--blue-730: #0000FF !important;
	--blue-730-hsl: #0000FF !important;
	--blue-760: #0000FF !important;
	--blue-760-hsl: #0000FF !important;
	--blue-800: #0000FF !important;
	--blue-800-hsl: #0000FF !important;
	--blue-830: #0000FF !important;
	--blue-830-hsl: #0000FF !important;
	--blue-860: #0000FF !important;
	--blue-860-hsl: #0000FF !important;
	--blue-900: #0000FF !important;
	--blue-900-hsl: #0000FF !important;
	--brand-100: #0000FF !important;
	--brand-100-hsl: #0000FF !important;
	--brand-130: #0000FF !important;
	--brand-130-hsl: #0000FF !important;
	--brand-160: #0000FF !important;
	--brand-160-hsl: #0000FF !important;
	--brand-200: #0000FF !important;
	--brand-200-hsl: #0000FF !important;
	--brand-230: #0000FF !important;
	--brand-230-hsl: #0000FF !important;
	--brand-260: #0000FF !important;
	--brand-260-hsl: #0000FF !important;
	--brand-300: #0000FF !important;
	--brand-300-hsl: #0000FF !important;
	--brand-330: #0000FF !important;
	--brand-330-hsl: #0000FF !important;
	--brand-345: #0000FF !important;
	--brand-345-hsl: #0000FF !important;
	--brand-360: #0000FF !important;
	--brand-360-hsl: #0000FF !important;
	--brand-400: #0000FF !important;
	--brand-400-hsl: #0000FF !important;
	--brand-430: #0000FF !important;
	--brand-430-hsl: #0000FF !important;
	--brand-460: #0000FF !important;
	--brand-460-hsl: #0000FF !important;
	--brand-500: #0000FF !important;
	--brand-500-hsl: #0000FF !important;
	--brand-530: #0000FF !important;
	--brand-530-hsl: #0000FF !important;
	--brand-560: #0000FF !important;
	--brand-560-hsl: #0000FF !important;
	--brand-600: #0000FF !important;
	--brand-600-hsl: #0000FF !important;
	--brand-630: #0000FF !important;
	--brand-630-hsl: #0000FF !important;
	--brand-660: #0000FF !important;
	--brand-660-hsl: #0000FF !important;
	--brand-700: #0000FF !important;
	--brand-700-hsl: #0000FF !important;
	--brand-730: #0000FF !important;
	--brand-730-hsl: #0000FF !important;
	--brand-760: #0000FF !important;
	--brand-760-hsl: #0000FF !important;
	--brand-800: #0000FF !important;
	--brand-800-hsl: #0000FF !important;
	--brand-830: #0000FF !important;
	--brand-830-hsl: #0000FF !important;
	--brand-860: #0000FF !important;
	--brand-860-hsl: #0000FF !important;
	--brand-900: #0000FF !important;
	--brand-900-hsl: #0000FF !important;
	--gold: #0000FF !important;
	--gold-hsl: #0000FF !important;
	--green-100: #0000FF !important;
	--green-100-hsl: #0000FF !important;
	--green-130: #0000FF !important;
	--green-130-hsl: #0000FF !important;
	--green-160: #0000FF !important;
	--green-160-hsl: #0000FF !important;
	--green-200: #0000FF !important;
	--green-200-hsl: #0000FF !important;
	--green-230: #0000FF !important;
	--green-230-hsl: #0000FF !important;
	--green-260: #0000FF !important;
	--green-260-hsl: #0000FF !important;
	--green-300: #0000FF !important;
	--green-300-hsl: #0000FF !important;
	--green-330: #0000FF !important;
	--green-330-hsl: #0000FF !important;
	--green-345: #0000FF !important;
	--green-345-hsl: #0000FF !important;
	--green-360: #0000FF !important;
	--green-360-hsl: #0000FF !important;
	--green-400: #0000FF !important;
	--green-400-hsl: #0000FF !important;
	--green-430: #0000FF !important;
	--green-430-hsl: #0000FF !important;
	--green-460: #0000FF !important;
	--green-460-hsl: #0000FF !important;
	--green-500: #0000FF !important;
	--green-500-hsl: #0000FF !important;
	--green-530: #0000FF !important;
	--green-530-hsl: #0000FF !important;
	--green-560: #0000FF !important;
	--green-560-hsl: #0000FF !important;
	--green-600: #0000FF !important;
	--green-600-hsl: #0000FF !important;
	--green-630: #0000FF !important;
	--green-630-hsl: #0000FF !important;
	--green-660: #0000FF !important;
	--green-660-hsl: #0000FF !important;
	--green-700: #0000FF !important;
	--green-700-hsl: #0000FF !important;
	--green-730: #0000FF !important;
	--green-730-hsl: #0000FF !important;
	--green-760: #0000FF !important;
	--green-760-hsl: #0000FF !important;
	--green-800: #0000FF !important;
	--green-800-hsl: #0000FF !important;
	--green-830: #0000FF !important;
	--green-830-hsl: #0000FF !important;
	--green-860: #0000FF !important;
	--green-860-hsl: #0000FF !important;
	--green-900: #0000FF !important;
	--green-900-hsl: #0000FF !important;
	--orange-100: #0000FF !important;
	--orange-100-hsl: #0000FF !important;
	--orange-130: #0000FF !important;
	--orange-130-hsl: #0000FF !important;
	--orange-160: #0000FF !important;
	--orange-160-hsl: #0000FF !important;
	--orange-200: #0000FF !important;
	--orange-200-hsl: #0000FF !important;
	--orange-230: #0000FF !important;
	--orange-230-hsl: #0000FF !important;
	--orange-260: #0000FF !important;
	--orange-260-hsl: #0000FF !important;
	--orange-300: #0000FF !important;
	--orange-300-hsl: #0000FF !important;
	--orange-330: #0000FF !important;
	--orange-330-hsl: #0000FF !important;
	--orange-345: #0000FF !important;
	--orange-345-hsl: #0000FF !important;
	--orange-360: #0000FF !important;
	--orange-360-hsl: #0000FF !important;
	--orange-400: #0000FF !important;
	--orange-400-hsl: #0000FF !important;
	--orange-430: #0000FF !important;
	--orange-430-hsl: #0000FF !important;
	--orange-460: #0000FF !important;
	--orange-460-hsl: #0000FF !important;
	--orange-500: #0000FF !important;
	--orange-500-hsl: #0000FF !important;
	--orange-530: #0000FF !important;
	--orange-530-hsl: #0000FF !important;
	--orange-560: #0000FF !important;
	--orange-560-hsl: #0000FF !important;
	--orange-600: #0000FF !important;
	--orange-600-hsl: #0000FF !important;
	--orange-630: #0000FF !important;
	--orange-630-hsl: #0000FF !important;
	--orange-660: #0000FF !important;
	--orange-660-hsl: #0000FF !important;
	--orange-700: #0000FF !important;
	--orange-700-hsl: #0000FF !important;
	--orange-730: #0000FF !important;
	--orange-730-hsl: #0000FF !important;
	--orange-760: #0000FF !important;
	--orange-760-hsl: #0000FF !important;
	--orange-800: #0000FF !important;
	--orange-800-hsl: #0000FF !important;
	--orange-830: #0000FF !important;
	--orange-830-hsl: #0000FF !important;
	--orange-860: #0000FF !important;
	--orange-860-hsl: #0000FF !important;
	--orange-900: #0000FF !important;
	--orange-900-hsl: #0000FF !important;
	--red-100: #0000FF !important;
	--red-100-hsl: #0000FF !important;
	--red-130: #0000FF !important;
	--red-130-hsl: #0000FF !important;
	--red-160: #0000FF !important;
	--red-160-hsl: #0000FF !important;
	--red-200: #0000FF !important;
	--red-200-hsl: #0000FF !important;
	--red-230: #0000FF !important;
	--red-230-hsl: #0000FF !important;
	--red-260: #0000FF !important;
	--red-260-hsl: #0000FF !important;
	--red-300: #0000FF !important;
	--red-300-hsl: #0000FF !important;
	--red-330: #0000FF !important;
	--red-330-hsl: #0000FF !important;
	--red-345: #0000FF !important;
	--red-345-hsl: #0000FF !important;
	--red-360: #0000FF !important;
	--red-360-hsl: #0000FF !important;
	--red-400: #0000FF !important;
	--red-400-hsl: #0000FF !important;
	--red-430: #0000FF !important;
	--red-430-hsl: #0000FF !important;
	--red-460: #0000FF !important;
	--red-460-hsl: #0000FF !important;
	--red-500: #0000FF !important;
	--red-500-hsl: #0000FF !important;
	--red-530: #0000FF !important;
	--red-530-hsl: #0000FF !important;
	--red-560: #0000FF !important;
	--red-560-hsl: #0000FF !important;
	--red-600: #0000FF !important;
	--red-600-hsl: #0000FF !important;
	--red-630: #0000FF !important;
	--red-630-hsl: #0000FF !important;
	--red-660: #0000FF !important;
	--red-660-hsl: #0000FF !important;
	--red-700: #0000FF !important;
	--red-700-hsl: #0000FF !important;
	--red-730: #0000FF !important;
	--red-730-hsl: #0000FF !important;
	--red-760: #0000FF !important;
	--red-760-hsl: #0000FF !important;
	--red-800: #0000FF !important;
	--red-800-hsl: #0000FF !important;
	--red-830: #0000FF !important;
	--red-830-hsl: #0000FF !important;
	--red-860: #0000FF !important;
	--red-860-hsl: #0000FF !important;
	--red-900: #0000FF !important;
	--red-900-hsl: #0000FF !important;
	--teal-100: #0000FF !important;
	--teal-100-hsl: #0000FF !important;
	--teal-130: #0000FF !important;
	--teal-130-hsl: #0000FF !important;
	--teal-160: #0000FF !important;
	--teal-160-hsl: #0000FF !important;
	--teal-200: #0000FF !important;
	--teal-200-hsl: #0000FF !important;
	--teal-230: #0000FF !important;
	--teal-230-hsl: #0000FF !important;
	--teal-260: #0000FF !important;
	--teal-260-hsl: #0000FF !important;
	--teal-300: #0000FF !important;
	--teal-300-hsl: #0000FF !important;
	--teal-330: #0000FF !important;
	--teal-330-hsl: #0000FF !important;
	--teal-345: #0000FF !important;
	--teal-345-hsl: #0000FF !important;
	--teal-360: #0000FF !important;
	--teal-360-hsl: #0000FF !important;
	--teal-400: #0000FF !important;
	--teal-400-hsl: #0000FF !important;
	--teal-430: #0000FF !important;
	--teal-430-hsl: #0000FF !important;
	--teal-460: #0000FF !important;
	--teal-460-hsl: #0000FF !important;
	--teal-500: #0000FF !important;
	--teal-500-hsl: #0000FF !important;
	--teal-530: #0000FF !important;
	--teal-530-hsl: #0000FF !important;
	--teal-560: #0000FF !important;
	--teal-560-hsl: #0000FF !important;
	--teal-600: #0000FF !important;
	--teal-600-hsl: #0000FF !important;
	--teal-630: #0000FF !important;
	--teal-630-hsl: #0000FF !important;
	--teal-660: #0000FF !important;
	--teal-660-hsl: #0000FF !important;
	--teal-700: #0000FF !important;
	--teal-700-hsl: #0000FF !important;
	--teal-730: #0000FF !important;
	--teal-730-hsl: #0000FF !important;
	--teal-760: #0000FF !important;
	--teal-760-hsl: #0000FF !important;
	--teal-800: #0000FF !important;
	--teal-800-hsl: #0000FF !important;
	--teal-830: #0000FF !important;
	--teal-830-hsl: #0000FF !important;
	--teal-860: #0000FF !important;
	--teal-860-hsl: #0000FF !important;
	--teal-900: #0000FF !important;
	--teal-900-hsl: #0000FF !important;
	--yellow-100: #0000FF !important;
	--yellow-100-hsl: #0000FF !important;
	--yellow-130: #0000FF !important;
	--yellow-130-hsl: #0000FF !important;
	--yellow-160: #0000FF !important;
	--yellow-160-hsl: #0000FF !important;
	--yellow-200: #0000FF !important;
	--yellow-200-hsl: #0000FF !important;
	--yellow-230: #0000FF !important;
	--yellow-230-hsl: #0000FF !important;
	--yellow-260: #0000FF !important;
	--yellow-260-hsl: #0000FF !important;
	--yellow-300: #0000FF !important;
	--yellow-300-hsl: #0000FF !important;
	--yellow-330: #0000FF !important;
	--yellow-330-hsl: #0000FF !important;
	--yellow-345: #0000FF !important;
	--yellow-345-hsl: #0000FF !important;
	--yellow-360: #0000FF !important;
	--yellow-360-hsl: #0000FF !important;
	--yellow-400: #0000FF !important;
	--yellow-400-hsl: #0000FF !important;
	--yellow-430: #0000FF !important;
	--yellow-430-hsl: #0000FF !important;
	--yellow-460: #0000FF !important;
	--yellow-460-hsl: #0000FF !important;
	--yellow-500: #0000FF !important;
	--yellow-500-hsl: #0000FF !important;
	--yellow-530: #0000FF !important;
	--yellow-530-hsl: #0000FF !important;
	--yellow-560: #0000FF !important;
	--yellow-560-hsl: #0000FF !important;
	--yellow-600: #0000FF !important;
	--yellow-600-hsl: #0000FF !important;
	--yellow-630: #0000FF !important;
	--yellow-630-hsl: #0000FF !important;
	--yellow-660: #0000FF !important;
	--yellow-660-hsl: #0000FF !important;
	--yellow-700: #0000FF !important;
	--yellow-700-hsl: #0000FF !important;
	--yellow-730: #0000FF !important;
	--yellow-730-hsl: #0000FF !important;
	--yellow-760: #0000FF !important;
	--yellow-760-hsl: #0000FF !important;
	--yellow-800: #0000FF !important;
	--yellow-800-hsl: #0000FF !important;
	--yellow-830: #0000FF !important;
	--yellow-830-hsl: #0000FF !important;
	--yellow-860: #0000FF !important;
	--yellow-860-hsl: #0000FF !important;
	--yellow-900: #0000FF !important;
	--yellow-900-hsl: #0000FF !important;

	// brand color scheme
	--battlenet: #0000FF !important;
	--battlenet-hsl: #0000FF !important;
	--crunchyroll: #0000FF !important;
	--crunchyroll-hsl: #0000FF !important;
	--ebay: #0000FF !important;
	--ebay-hsl: #0000FF !important;
	--epic-games: #0000FF !important;
	--epic-games-hsl: #0000FF !important;
	--facebook: #0000FF !important;
	--facebook-hsl: #0000FF !important;
	--github: #0000FF !important;
	--github-hsl: #0000FF !important;
	--hypesquad-house-1: #0000FF !important;
	--hypesquad-house-1-hsl: #0000FF !important;
	--hypesquad-house-2: #0000FF !important;
	--hypesquad-house-2-hsl: #0000FF !important;
	--hypesquad-house-3: #0000FF !important;
	--hypesquad-house-3-hsl: #0000FF !important;
	--lol: #0000FF !important;
	--lol-hsl: #0000FF !important;
	--partner: #0000FF !important;
	--partner-hsl: #0000FF !important;
	--paypal: #0000FF !important;
	--paypal-hsl: #0000FF !important;
	--playstation: #0000FF !important;
	--playstation-hsl: #0000FF !important;
	--reddit: #0000FF !important;
	--reddit-hsl: #0000FF !important;
	--riot-games: #0000FF !important;
	--riot-games-hsl: #0000FF !important;
	--samsung: #0000FF !important;
	--samsung-hsl: #0000FF !important;
	--skype: #0000FF !important;
	--skype-hsl: #0000FF !important;
	--spotify: #0000FF !important;
	--spotify-hsl: #0000FF !important;
	--steam: #0000FF !important;
	--steam-hsl: #0000FF !important;
	--twitch: #0000FF !important;
	--twitch-hsl: #0000FF !important;
	--twitter: #0000FF !important;
	--twitter-hsl: #0000FF !important;
	--xbox: #0000FF !important;
	--xbox-hsl: #0000FF !important;
	--youtube: #0000FF !important;
	--youtube-hsl: #0000FF !important;
}
